<div class="container col-md-6">
  <h2 class="text-center">Add User</h2>
  <form #signUpForm="ngForm" (ngSubmit)="onSubmit(signUpForm)">
    <div class="form-group">
      <label for="username">User Name:</label>
      <input type="text" [(ngModel)]="username" placeholder="username" name="username" class="form-control"
             id="username">
    </div>

    <div class="form-group">
      <label for="password">Password:</label>
      <input type="password" [(ngModel)]="password" placeholder="password" name="password" class="form-control"
             id="password">
    </div>

    <div class="form-group">
      <label for="name">First Name:</label>
      <input placeholder="First Name" [(ngModel)]="name" name="name" class="form-control" id="name">
    </div>

    <div class="form-group">
      <label for="lastName">Last Name:</label>
      <input placeholder="Last name" name="lastName" [(ngModel)]="lastName" class="form-control" id="lastName">
    </div>

    <div class="form-group">
      <label for="roles">Role:</label>
      <select name="roles" class="form-control" id="roles" [(ngModel)]="roles" multiple>
        <option *ngFor="let role of allRoles" [(ngValue)]="role">{{role.name}}</option>
      </select>
    </div>
    <div ngModelGroup="componentContents">
      <div *ngFor="let role of roles">
        <div class="form-group" *ngFor="let userComponent of role.userComponents;">
          <label>{{userComponent.name}}:</label>
          <input placeholder="{{userComponent.name}}" name="{{userComponent.id}}" [ngModel]="userComponentContent" class="form-control">
        </div>
      </div>
    </div>

    <button class="btn btn-success">Add</button>
    <div class="alert alert-warning" *ngIf="hasError">{{errorMessage}}</div>
  </form>
</div>
